/build
/platform
/target/argv/argv
/target/cfg/cfg
/target/codeform/dir/
/target/cout/cout
/target/environ/environ
/target/fork/fork
/target/fp/fp
/target/hello/hello
/target/hello/hello-q
/target/hello/hello-s
/target/hello/hello-static
/target/hi0/hi0
/target/hi5/hi5
/target/islower/islower
/target/jumptable/jumptable
/target/log/log
/target/redzone/redzone
/target/stack/stack
/target/thread/thread
/x86_64-local
